<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="aqa" verbose="2" preserve-order="true" >
    <test name="Hometask Testing" >
        <classes>
            <class name = "site.MainPage" >
            <methods>
                    <exclude name="MakeSearch"></exclude>
            </methods>
            </class>
            <class name="site.PrintString">
                <methods>
                    <include name="PrintString1"></include>
                    <include name="PrintString2"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
